.section-category-cards{
    .col-category-card{
        margin-bottom: 30px;
        .category-card-wrap{
            padding: 20px;
            background-color: #EFEFEF;
            color: $black;
            position: relative;
            overflow: hidden;
            .card-content-wrap{
                margin-bottom: 45px;
                padding-right: 40%;
                .card-heading{

                }
                .card-content{
                }
            }
            .card-image{
                position: absolute;
                right: 20px;
                bottom: 20px;
                width: 160px;
                object-fit: contain;
            }
            .card-btn{
                color: $black;
                padding-left: 0;
                padding-bottom: 0%;
                padding-top: 0;
                &::after{
                    border-color: $black;
                }
            }
        }
    }
}